{% extends 'base.html.twig' %}

{% block title %}Connexion | {{ parent() }}{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are already connected as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <div>
            <label for="inputNickname">Nickname</label>
            <input type="text" value="{{ last_username }}" name="nickName" id="inputNickname" class="form-control" autocomplete="username" required autofocus>
        </div>
        <div>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            Me connecter
        </button>
        {# <p><a href="{{ path('forgotten_password') }}">Mot de passe oublié</a></p>  #}
        <p>You don't have an account ? <a href="{{ path('app_register') }}">Register</a></p>
    </form>
{% endblock %}